* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

div.all {
  width: 100%;
  height: auto;
}

div.all-menu{
  position: relative;
  top: 50px;
}

@font-face {
    font-family: f01;
    src: url(../fonts/01.woff2);
}

@font-face {
    font-family: f02;
    src: url(../fonts/02.woff2);
}

@font-face {
  font-family: f03;
  src: url(../fonts/03.woff2);
}

@font-face {
  font-family: f04;
  src: url(../fonts/04.woff2);
}

@font-face {
  font-family: f05;
  src: url(../fonts/05.woff2);
}

@font-face {
  font-family: f06;
  src: url(../fonts/06.woff2);
}