div.all>div.all-menu>div.header{
width: 100%;
height: 500px;
background-image: url(../../../img/header/back.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
text-transform: uppercase;
}

div.all>div.all-menu>div.header>div.img{
 width: 450px;
 height: 152px;
 position: absolute;
 top: 100px;
 left: 50px;
}

div.all>div.all-menu>div.header>div.img>img{
width: 100%;
}

div.all>div.all-menu>div.header>div.par{
width: 450px;
height: auto;
position: absolute;
top: 260px;
left: 40px;
text-align: center;
}

div.all>div.all-menu>div.header>div.par>p{
width: 100%;
color: aliceblue;
font-family: f06;
font-size: 1.5em;
line-height: 26px;
}

div.all>div.all-menu>div.header>div.button{
width: 450px;
 height: auto;
 position: absolute;
 top: 370px;
 left: 55px;
}

div.all>div.all-menu>div.header>div.button>a>div.left{
width: 45%;
height: 50px;
background-color: rgb(231, 231, 231);
display: inline-block;
text-align: center;
}

div.all>div.all-menu>div.header>div.button>a>div.left>p{
width: 100%;
color: rgb(0, 0, 0);
font-family: f02;
font-size: 1.25em;
line-height: 50px;
font-weight: 600;
}

div.all>div.all-menu>div.header>div.button>a>div.right{
width: 45%;
height: 50px;
background-color: rgb(231, 231, 231);
display: inline-block;
margin-left: 20px;
text-align: center;
}

div.all>div.all-menu>div.header>div.button>a>div.right>p{
width: 100%;
color: rgb(0, 0, 0);
font-family: f02;
font-size: 1.25em;
line-height: 50px;
font-weight: 600;
}



